################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Cooking_Recipe_Portal
/admin/css
/admin/jscripts/tiny_mce
/admin/lists
